@import '../../common/style.css';

.root-container {
    flex-direction: column;
    align-items: center; /* 交叉轴 */
    justify-content: space-between;
    width: 454px;
    height: 454px;
}
.todo-title {
    color: #1e88e5;
}
